<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="dashboard/user-management">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="Avijit Saha" />
	<title>Update Service User Password</title>
</head>

<body>
	<div layout:fragment="usermanagement">
		<div class="row mb-2">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="text-decoration-underline">Update Service User Password</h4>
					</div>
					<div class="card-body">
						<form autocomplete="off" th:action="@{/serviceusers/password}" th:method="put"
							th:object="${useraccount}">
							<div class="form-body row">
								<input type="hidden" th:field="*{userId}" />
								<div class="col-md-2">
									<label for="name">Name</label>
								</div>
								<div class="col-md-10">
									<p th:text="*{firstName + ' ' + lastName}"></p>
								</div>
								<div class="col-md-2">
									<label for="userPassword">Password</label>
								</div>
								<div class="col-md-5">
									<div class="form-group has-icon-left">
										<div class="position-relative">
											<input type="password" class="form-control" autocomplete="new-password"
												placeholder="User Password" id="password" name="userPassword"
												th:field="*{userPassword}" required>
											<div class="form-control-icon">
												<i data-feather="lock"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="text-danger text-center text-subtitle" th:text="${userPasswordError}">
									</div>
								</div>
								<div class="col-md-2">
									<label for="userConfirmPassword">Confirm Password</label>
								</div>
								<div class="col-md-5">
									<div class="form-group has-icon-left">
										<div class="position-relative">
											<input type="password" class="form-control" autocomplete="new-password"
												placeholder="Confirm Password" id="confirmPassword"
												name="userConfirmPassword" th:field="*{userConfirmPassword}" required>
											<div class="form-control-icon">
												<i data-feather="lock"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-5"></div>
							</div>
							<div class="card-footer">
								<div class="row justify-content-md-center">
									<div class="col-md-3">
										<button type="submit" class="btn btn-success"
											onclick="return validatePassword()">Save</button>
										<a th:href="@{/serviceusers}" class="btn btn-primary mr-1"><i
												data-feather="corner-down-left"></i> </a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>