<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Edit iBank User </title>
</head>

<body>
    <div layout:fragment="heading">
        <h4>Change JWT User Account</h4>
    </div>

    <div layout:fragment="content">
        <div class="row mb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form autocomplete="off" th:action="@{/ibankusers/update}" th:method="put"
                                th:object="${ibankuser}">
                                <input type="hidden" th:field="*{ibankUserId}" />
                                <div class="form-body row">
                                    <div class="col-md-2">
                                        <label>User Name</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                    <input type="text" th:field="*{fullName}" class="form-control"
                                                        placeholder="Enter User Name">
                                                    <div class="form-control-icon">
                                                        <i data-feather="user"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2">
                                        <label>Mobile</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="User Mobile"
                                                    id="mobileNumber" name="mobileNumber" th:field="*{mobileNumber}"
                                                    readonly>
                                                <div class="form-control-icon">
                                                    <i data-feather="smartphone"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="User Email"
                                                    id="ibankUserEmail" name="ibankUserEmail"
                                                    th:field="*{ibankUserEmail}">
                                                <div class="form-control-icon">
                                                    <i data-feather="mail"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2">
                                        <label>NID</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="User NID" id="nid"
                                                    name="nid" th:field="*{nid}">
                                                <div class="form-control-icon">
                                                    <i data-feather="mail"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5"></div>


                                    <div class="col-md-2">
                                        <label for="enabled">Status</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="toggleSwitch ml-0" onclick=""> <input type="checkbox"
                                                    th:checked="*{status}" id="status" name="status" /> <span>
                                                    <span>Off</span> <span>On</span>
                                                    &nbsp;
                                                </span> <a></a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-success">Save</button>
                                        <a th:href="@{/ibankusers}" class="btn btn-primary mr-1">
                                            <i data-feather="corner-down-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>