<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Change iBank User Password</title>
</head>

<body>

    <div layout:fragment="heading">
        <h4>Change iBank User Password</h4>
    </div>
    <div layout:fragment="content">
        <div class="row mb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form autocomplete="off" th:action="@{/ibankusers/password}" th:method="post" th:object="${ibankuser}">
                                <input type="hidden" th:field="*{ibankUserId}" />
                                <div class="form-body row">
                                    <div class="col-md-2">
                                        <label>User Name</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label th:text="${ibankuser.fullName}"></label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <label>Password</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                <input type="password" class="form-control" placeholder="Password" id="password" name="password" th:field="*{password}" required>
                                                <div class="form-control-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="text-danger text-center text-subtitle" th:text="${passwordError}"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Confirm Password</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
                                                <div class="form-control-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-md-3">
                                        <button type="submit" onclick="return validatePassword()" class="btn btn-success">Save</button>
                                        <a th:href="@{/ibankusers}" class="btn btn-primary mr-1"><i
									data-feather="corner-down-left"></i> </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>