<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Show iBank User</title>
</head>

<body>

	<div layout:fragment="heading">
		<h4>
			Ibank User : : <span th:text="${data.fullName}"></span>
		</h4>
		<p class="text-subtitle text-muted">iBank User Details</p>
	</div>

	<div layout:fragment="content">
		<div class="row mb-2">
			<div class="col-12">
				<div class="card">
					<div class="card-content">
						<div class="card-body">

							<div class="row my-2">

								<div class="col-md-2">
									<label>User Name</label>
								</div>
								<div class="col-md-10">
									: <span th:text="${data.fullName}"></span>
								</div>
								<div class="col-md-2">
									<label>Mobile</label>
								</div>
								<div class="col-md-10">
									: <span th:text="${data.mobileNumber}"></span>
								</div>
								<div class="col-md-2">
									<label>Email</label>
								</div>
								<div class="col-md-10">
									: <span th:text="${data.ibankUserEmail}"></span>
								</div>
								<div class="col-md-2">
									<label>NID</label>
								</div>
								<div class="col-md-10">
									: <span th:text="${data.nid}"></span>
								</div>
								<div class="col-md-2">
									<label>Status</label>
								</div>
								<div class="col-md-10">
									: <i class="text-success " th:if="${data.status}" data-feather="check"></i> <i
										class="text-danger" th:unless="${data.status == true}" data-feather="x"></i>
								</div>
								<div class="col-md-2">
									<label>Entry At</label>
								</div>
								<div class="col-md-10">
									: <span th:text="${data.createdDate}"></span>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="form-actions mt-2 d-flex justify-content-center">
								<a sec:authorize="hasAnyAuthority('ADMIN')" class="btn btn-info mr-1 btn-sm"
									th:href="@{/ibankusers/{id}/edit(id = ${data.ibankUserId})}">
									<i data-feather="edit"></i>
								</a> <a th:href="@{/ibankusers}" class="btn btn-primary mr-1 btn-sm"><i
										data-feather="corner-down-left"></i> </a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>