<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard - API Dashboard</title>
<link rel="stylesheet" th:href="@{assets/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{assets/vendors/chartjs/Chart.min.css}">
<link rel="stylesheet"
	th:href="@{assets/vendors/perfect-scrollbar/perfect-scrollbar.css}">
<link rel="stylesheet" th:href="@{assets/css/app.css}">
<link rel="shortcut icon" th:href="@{assets/images/favicon.svg}"
	type="image/x-icon">
</head>

<body>
	<div id="app">

		<div th:insert="~{layouts/parts/sidebar :: sidbar}"></div>

		<div id="main">
			<nav class="navbar navbar-header navbar-expand navbar-light">
				<a class="sidebar-toggler" href="#"><span
					class="navbar-toggler-icon"></span></a>
				<button class="btn navbar-toggler" type="button"
					data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<h5 class="ml-2">
						Current Date : <span class="text-info"
							th:text="${#dates.format(#dates.createNow(),'dd-MM-YYYY')}"></span>
					</h5>
					<ul
						class="navbar-nav d-flex align-items-center navbar-light ml-auto">



						<li class="dropdown"><a href="#" data-toggle="dropdown"
							class="nav-link dropdown-toggle nav-link-lg nav-link-user">
								<div class="avatar mr-1">
									<img src="assets/images/avatar/avatar-s-1.png" alt="" srcset="">
								</div>
								<div class="d-none d-md-block d-lg-inline-block">Hi,
									[[${#httpServletRequest.remoteUser}]]</div>
						</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#"><i data-feather="user"></i>
									Account</a> <a class="dropdown-item" href="#"><i
									data-feather="settings"></i> Settings</a>
								<div class="dropdown-divider"></div>

								<form th:action="@{/logout}" method="post">
									<button type="submit" class="dropdown-item" href="#">
										<i data-feather="log-out"></i> Logout
									</button>
								</form>

							</div></li>
					</ul>
				</div>
			</nav>
			<div class="main-content container-fluid">
				<div class="page-title">
					<h3>Dashboard</h3>
					<p class="text-subtitle text-muted">A good dashboard to display
						your statistics</p>
				</div>
				<section class="section">

					<!-- Page Main Content Will Goes Here ! -->
					<div layout:fragment="content">jkjkjkjk</div>

				</section>
			</div>
			<footer>
				<div class="footer clearfix mb-0 text-muted">
					<div class="float-left">
						<p>2020 &copy; Janata Bank Limited</p>
					</div>
					<div class="float-right">
						<!--                         <p>Crafted with  -->
						<!--                         <span class='text-danger'><i data-feather="heart"></i></span>  -->
						<!--                         by <a href="http://ahmadsaugi.com">Ahmad Saugi</a></p> -->
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script th:src="@{assets/js/feather-icons/feather.min.js}"></script>
	<script th:src="@{assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{assets/js/app.js}"></script>
	<script th:src="@{assets/vendors/chartjs/Chart.min.js}"></script>
	<script th:src="@{assets/vendors/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{assets/js/pages/dashboard.js}"></script>
	<script th:src="@{assets/js/main.js}"></script>
</body>

</html>