<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="dashboard/user-management">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Show User History</title>
</head>

<body>
	<div layout:fragment="usermanagement">
		<div class="row mb-2">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="text-decoration-underline">History Details</h4>
						<p>User : : <span th:text="${userAccounts.firstName + ' ' + userAccounts.lastName}"></span></p>
					</div>
					<div class="card-body">
						<div class="card-body table-responsive">
							<table class="table table-sm table-striped  table-bordered text-center">
								<thead class="bg-info text-white ">
									<tr>
										<th>Role ID</th>
										<th>Entry/Modification</th>
										<th>Entry/Modification At</th>
										<th>Entry/Modification By</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="entities : ${entities}">
										<td th:text="${entities.getEntity().getUserId()}"></td>
										<td
											th:text="${entities.getEntity().getFirstName() + ' ' + entities.getEntity().getLastName+', '+entities.getEntity().getMobileNumber}">
										</td>
										<td th:text="${entities.getRevision().getRevisionDate()}"></td>
										<td th:text="${entities.getRevision().getLogUser()}"></td>
										<td th:text="${entities.getType()}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="card-footer">
						<div class="form-actions mt-2 d-flex justify-content-center">
							<a th:href="@{/useraccounts/{id}(id = ${userAccounts.userId})}"
								class="btn btn-primary mr-1"><i data-feather="corner-down-left"></i> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>