<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>
<body>

	<div layout:fragment="content">
		<h1>List PasswordResetToken</h1>
		<hr />
		<a th:href="@{/passwordresettokens/new}">New PasswordResetToken</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>ExpiryDate</th> 
					<th>Token</th> 
					<th>UserAccount</th> 
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="passwordresettoken : ${listPasswordResetToken}">
					<td th:text="${passwordresettoken.expiryDate}"></td> 
					<td th:text="${passwordresettoken.token}"></td> 
					<td th:text="${passwordresettoken.userAccount}"></td> 
					<td>
							<a th:href="@{/passwordresettokens/{id}(id = ${passwordresettoken.passId})}">Show</a> 
					 		<a th:href="@{/passwordresettokens/{id}/edit(id = ${passwordresettoken.passId})}">Edit</a> 
							<a href="#">Destroy</a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>