<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="Avijit Saha" />
	<title>Reports</title>
</head>

<body>
	<div layout:fragment="heading">
		<h4>Reports</h4>
		<p class="text-subtitle text-muted"></p>
	</div>
	<div layout:fragment="content">
		<div class="col-sm-12 pb-4">
			<ul class="nav nav-tabs nav-fill navbar-btn border-bottom">
				<li class="nav-item rounded-top"><a class="nav-link "
						th:classappend="${#httpServletRequest.getRequestURI().startsWith('/apilogs') ? 'active':''}"
						th:href="@{/apilogs}"><i data-feather="activity" width="20"></i> <span>API Logs</span></a></li>
				<li class="nav-item "><a class="nav-link "
						th:classappend="${#httpServletRequest.getRequestURI().startsWith('/account-info') ? 'active':''}"
						th:href="@{/account-info}"><i data-feather="activity" width="20"></i> <span>Account
							Query</span></a></li>
				<li class="nav-item "><a class="nav-link "
						th:classappend="${#httpServletRequest.getRequestURI().startsWith('/remitter-information') ? 'active':''}"
						th:href="@{/remitter-information}"><i data-feather="file-text" width="20"></i> <span>Remiter
							Information</span></a></li>
			</ul>
		</div>
		<section class="section" layout:fragment="reports"></section>
	</div>
</body>

</html>