<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>
<body>

	<div layout:fragment="content">
		<h1>List ResourceHis</h1>
		<hr />
		<a th:href="@{/resourcehiss/new}">New ResourceHis</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>EntryAt</th> 
					<th>EntryBy</th> 
					<th>ResourceName</th> 
					<th>Resource</th> 
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="resourcehis : ${listResourceHis}">
					<td th:text="${resourcehis.entryAt}"></td> 
					<td th:text="${resourcehis.entryBy}"></td> 
					<td th:text="${resourcehis.resourceName}"></td> 
					<td th:text="${resourcehis.resource}"></td> 
					<td>
							<a th:href="@{/resourcehiss/{id}(id = ${resourcehis.resourceHisId})}">Show</a> 
					 		<a th:href="@{/resourcehiss/{id}/edit(id = ${resourcehis.resourceHisId})}">Edit</a> 
							<a href="#">Destroy</a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>