<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="dashboard/reports">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="shahadat hossain" />

</head>

<body>
    <div layout:fragment="reports">
        <form class="row mx-3 mb-1 border-bottom" th:action="@{/remitter-information}" th:method="get">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="basicInput">From Date</label> <input type="text" class="form-control datepicker"
                        id="fromdate" name="fromDate" placeholder="From Date" autocomplete="off">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="basicInput">To Date</label> <input type="text" class="form-control datepicker"
                        id="todate" name="toDate" placeholder="To Date" autocomplete="off">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="helperText">Remittance No / Remm. Unique No</label>
                    <input type="text" id="todate" class="form-control" name="remittanceNo" placeholder="Remittance No"
                        autocomplete="off">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="helperText">Status</label>
                    <select class="form-select" id="basicSelect" th:name="status">
                        <option value="0">All</option>
                        <option th:value="2">Success</option>
                        <option th:value="1">Pending</option>
                        <option th:value="3">Failed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="helperText">&nbsp;</label>
                    <button type="submit" id="todate" class="form-control btn btn-info">Search</button>
                </div>
            </div>
        </form>
        <div class="row mb-2 mt-2">
            <div class="col-12 ">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-decoration-underline">Remitter Information</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-sm table-striped  table-bordered text-center datatable">
                            <thead class="bg-info text-white ">
                                <tr>
                                    <th>#</th>
                                    <th>Remitter Unique No</th>
                                    <th>Remitter No</th>
                                    <th>Covered Account</th>
                                    <th>Credit Account</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="remitterInfo, iter : ${remitterInfos}">
                                    <tr>
                                        <td>[[${iter.count}]]</td>
                                        <td>[[${remitterInfo.remittanceUniqueId}]]</td>
                                        <td>[[${remitterInfo.remittanceNo}]]</td>
                                        <td>[[${remitterInfo.coveredAccount}]]</td>
                                        <td>[[${remitterInfo.accountNo}]]</td>
                                        <td>[[${#numbers.formatDecimal(remitterInfo.amountInBDT,0,'COMMA',2,'POINT')}]]
                                        </td>
                                        <td th:switch="${remitterInfo.status}"><a class=" p-1 text-info"
                                                th:href="@{/remitter-information/{id}(id = ${remitterInfo.remitterId})}"><span
                                                    th:case=1 th:class="text-warning">Pending</span>
                                                <span th:case=2 th:class="text-success">Success</span>
                                                <span th:case=3 th:class="text-danger">Failed</span></a></td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>