<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

</head>

<body>


    <div layout:fragment="heading">
        <h4>JWT Users List</h4>
    </div>

    <div layout:fragment="content">
        <div class="row mb-1">
            <div class="col-12" sec:authorize="hasAnyAuthority('ADMIN', 'CREATOR')">
                <a class="btn btn-warning round float-right btn-sm" th:href="@{/jwtusers/new}">Jwt User<i
					data-feather="plus-circle" width="20"></i>
				</a>
            </div>
        </div>



        <div class="row mb-2 mt-2">
            <div class="col-12 table-responsive">

                <div class="card">
                    <div class="card-content">
                        <div class="card-body table-responsive">
                            <table class="table table-sm table-striped  table-bordered text-center datatable">

                                <thead class="bg-info text-white">
                                    <tr>
                                        <th style="width:80px">User Name</th>
                                        <th>Company</th>
                                        <th>Status</th>
                                        <th>Request Type</th>
                                        <th style="width:20px"> Basic Token</th>
                                        <th> Ip Address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="jwtUser : ${jwtUsers}">
                                        <tr>
                                            <td>[[${jwtUser.username}]]</td>
                                            <td><i class="text-success " th:if="${jwtUser.status}" data-feather="check"></i>
                                                <i class="text-danger" th:unless="${jwtUser.status == true}" data-feather="x"></i></td>
                                          
                                            <td>[[${jwtUser.basicToken}]]</td>
                                            <td>[[${jwtUser.whitelistIp}]]</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <a class=" p-1 text-info" th:href="@{/jwtusers/{id}(id = ${jwtUser.jwtUserId})}">
                                                        <i data-feather="eye"></i>
                                                    </a>
                                                    <a sec:authorize="hasAnyAuthority('ADMIN')" class=" p-1 text-warning" th:href="@{/jwtusers/{id}/edit(id = ${jwtUser.jwtUserId})}">
                                                        <i data-feather="edit"></i>
                                                    </a>
                                                    <a sec:authorize="hasAnyAuthority('ADMIN')" class=" p-1 text-success" th:href="@{/jwtusers/{id}/password(id = ${jwtUser.jwtUserId})}">
                                                        <i data-feather="lock"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>