<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="dashboard/user-management">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="shahadat hossain" />
    <title>Show Role List</title>
</head>

<body>
    <div layout:fragment="usermanagement">
        <div class="row mb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-decoration-underline">Role Details</h4>
                        Role : : <span th:text="${data.getEntity.roleName}"></span>
                    </div>
                    <div class="card-body">
                        <div class="row my-2">
                            <div class="col-md-2">
                                <label>Role Name</label>
                            </div>
                            <div class="col-md-10">
                                : <span th:text="${data.getEntity.roleName}"></span>
                            </div>
                            <div class="col-md-2">
                                <label>Entry At</label>
                            </div>
                            <div class="col-md-10">
                                : <span th:text="${data.getEntity.CreatedDate}"></span>
                            </div>
                            <div class="col-md-2">
                                <label>Entry By</label>
                            </div>
                            <div class="col-md-10">
                                : <span th:text="${data.getCreatedByUser}"></span>
                            </div>
                            <div class="col-md-2">
                                <label>Updated By</label>
                            </div>
                            <div class="col-md-10">
                                : <span th:text="${data.getUpdatedByUser}"></span>
                            </div>
                            <div class="col-md-2">
                                <label></label>
                            </div>
                            <div class="col-md-2 btn-group" role="group" aria-label="Basic example">
                                <a class=" p-1 text-info"
                                    th:href="@{/roles/history/{id}(id = ${data.getEntity.roleId})}"> <i
                                        data-feather="eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-actions mt-2 d-flex justify-content-center">
                            <a sec:authorize="hasAnyAuthority('ADMIN')" class="btn btn-info mr-1"
                                th:href="@{/roles/{id}/edit(id = ${data.getEntity.roleId})}"> <i
                                    data-feather="edit"></i>
                            </a> <a th:href="@{/roles}" class="btn btn-primary mr-1"><i
                                    data-feather="corner-down-left"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>