<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Show Privilege</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Show Privilege</h1>
		<hr />
		<div class="form-group"> 
			<label for="entryAt">EntryAt: </label>  
			<span th:text="${privilege.entryAt}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="name">Name: </label>  
			<span th:text="${privilege.name}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="userAccount">UserAccount: </label>  
			<span th:text="${privilege.userAccount}"></span> 
		</div> 

		<a th:href="@{/privileges/{id}/edit(id = ${privilege.privId})}">Edit this record</a> <br/>
		<a href="#">Delete this record</a> <br/>
		<a th:href="@{/privileges}">Back to list Privilege</a> <br/>
	</div>
</body>
</html>